body {
  position: center;
  margin: 0%;
}

header {
  width: 100%;
  top: 0px;
  padding-top: 0%;


}

.namn {
  border-top: 2px solid rgba(0,0,0,0.7);
  font-size: 30px;
  display: block;
  text-align: left;
  padding: 1rem 0;
}

.pew {
padding-bottom: 1em !important;
padding-top: 1em !important;
border: none !important;
}

.header-img {
  width: 100%;
  left: 25%;
  height: 300px;
  object-fit: cover;
}

.nummer{
  border-top: 2px solid rgba(0,0,0,0.7);


}
.skills{
  border-top: 2px solid rgba(0,0,0,0.7);

}
.logga {
width: 50%;


}
.row {
  display: flex;
}

p {
  font-size: 20px;
}


.container {
  width: 1150px;
  margin: auto;
}
.mig-img{
width: 18em


}

